.container {
    max-width: 1200px;
}

.table-responsive {
    overflow-x: auto;
}

td.editable {
    cursor: pointer;
    white-space: pre;
    overflow-x: auto;
    max-width: 300px;
}

.editorjs {
    border: 1px solid #ced4da;
    padding: 10px;
}

#toastContainer {
    position: fixed;
    top: 1rem; /* Adjusted to be at the top */
    right: 1rem; /* Positioned at the right */
    z-index: 1100;
}

.toast-body {
    white-space: pre-wrap; /* Ensures that line breaks in messages are respected */
}

.action-cell {
    width: 100px; /* Set your desired width here */
}

.action-btn {
    width: 90px;
    margin: 3px
}

/* Modal styles for code editor */
.modal-lg {
    max-width: 80%;
}